body, html {
    height: 100%;
<<<<<<< HEAD
    background-image: url('images/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
=======
    background-image: url('images/fondo2.jpg');
    background-position: center;
    background-repeat: repeat;
>>>>>>> 8e72d8f93d18f5c498a7ee05a72da60e64e69501
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.login-form {
    width: 340px;
    margin: auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
}