<<<<<<< HEAD
<div class="flex-container-register">
	<div class="row">
		<div class="card">
			<div class="card-header">
				Add new user
=======
<div class="flex-container">
	<div class="row">
		<div class="card">
			<div class="card-header">
				<b><h3>Register</h3></b>
>>>>>>> 8e72d8f93d18f5c498a7ee05a72da60e64e69501
			</div>
			<div class="card-body">
				<form (submit)="addUser()">
					<div class="form-group">
						<label for="title">Name</label>
						<input type="text" class="form-control" name="name" required="required" [(ngModel)]="name">
					</div>
					<div class="form-group">
						<label for="title">Email</label>
						<input type="text" class="form-control" name="email" required="required" [(ngModel)]="email">
					</div>
					<div class="form-group">
						<label for="title">User name</label>
						<input type="text" class="form-control" name="login" required="required" [(ngModel)]="login">
					</div>
					<div class="form-group">
						<label for="title">Password</label>
						<input type="password" class="form-control" name="password" required="required" [(ngModel)]="password">
					</div>
<<<<<<< HEAD
					<input type="submit" value="register" class="btn btn-primary">
=======
					<input type="submit" value="Register" class="btn btn-primary ">
>>>>>>> 8e72d8f93d18f5c498a7ee05a72da60e64e69501
				</form>
			</div>
		</div>
	</div>
</div>