.card{
    margin: auto;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    margin-top: 50px !important;
    width: 20vw;
    min-width: 20vw;
}
.row{
    margin-left: 0%;
    margin-right: 0%;
}