<div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
<<<<<<< HEAD
        <a class="navbar-brand" routerLink="">FIFA</a>
=======
    <a class="navbar-brand" href="#">FIFA</a>
>>>>>>> 8e72d8f93d18f5c498a7ee05a72da60e64e69501
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/login">Inicio sesión</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
<<<<<<< HEAD
                    <a class="nav-link" routerLink="/registry">Registrar<span class="sr-only">(current)</span></a>
=======
                    <a class="nav-link" routerLink="/register">Registrar</a>
>>>>>>> 8e72d8f93d18f5c498a7ee05a72da60e64e69501
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>