.bajar {
    display: flex;
    margin-block-start: 50px;
<<<<<<< HEAD
=======
}

.navbar{
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
>>>>>>> 8e72d8f93d18f5c498a7ee05a72da60e64e69501
}