<div class="flex-container">
	<div class="row">
		<div class="login-form">
			<div class="card-body">
				<form (submit)="validateUser()">
					<h2 class="text-center">Log in</h2>
					<div class="form-group">
						<label for="title">User name</label>
						<input type="text" class="form-control" name="login" required="required" [(ngModel)]="login">
					</div>
					<div class="form-group">
						<label for="title">Password</label>
						<input type="password" class="form-control" name="password" required="required" [(ngModel)]="password">
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn btn-primary btn-block">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
