<div class="container">
    <div class="row">
      <div class="flex-parent">
        
        <div class="flex-child" *ngFor="let i of miCartas">
          <img src="{{i.carta}}">
        </div>
      </div>
      <div class="flex-parent">
        <h2>{{teamName}}</h2>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)" value = "Rusia">Rusia</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)" value = "Saudi Arabia">Saudi Arabia</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Egypt</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Uruguay</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Portugal</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Spain</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Morocco</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Islamic Republic of Iran</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">France</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Australia</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Peru</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Denmark</a>
          </li>
        </ul>
      </div>
      <div class="flex-parent">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Argentina</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Iceland</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Croatia</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Nigeria</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Brazil</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Switzerland</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Costa Rica</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Serbia</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Germany</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">México</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Sweden</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Korea Republic</a>
          </li>
        </ul>
      </div>
      <div class="flex-parent">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Belgium</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Panamá</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Tunisia</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">England</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Poland</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Senegal</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Colombia</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClick($event)">Japan</a>
          </li>
        </ul>
      </div>
    </div>
</div>

