.row{
    margin-left: 0%;
    margin-right: 0%;
}

.flex-parent {
    height: 100%;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

.flex-child {
    padding: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 132px;
    color: #FFFFFF;
}

.flex-parent-buttons {
    height: 100%;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
}
.flex-child-buttons {
    padding: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 132px;
    color: #FFFFFF;

}

img{
    height: 130px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

.page-item{
    width: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

.pagination{
    align-items: center;
    align-content: center;
    margin-top: 0px;
}

h2{
    color: #FFFFFF;
}