<<<<<<< HEAD
<p>
  principal works!
</p>
=======
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1> Bienvenido {{userLogin}}</h1> 
    </div>
    <div class="col-md-2">  
        <a class="nav-item" *ngIf="userLogin != ''">
          <button button type="button" class="btn btn-dark" (click)="obtenerCarta()">+
            <i class="fas fa-address-card"></i></button>
        </a>
      </div>
    <div class="col-md-2">  
      <a class="nav-item" *ngIf="userLogin != ''">
        <button button type="button" class="btn btn-dark" routerLink="" (click)="cerrar()">Cerrar sesión</button>
      </a>
    </div>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Únicas</th>
          <th scope="col">Repetidas</th>
          <th scope="col">Total</th>
          <th scope="col">% Album</th>
          <th scope="col">Equipos Completados</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>{{cantCartasUnicas}}</td>
          <td>{{cantCartasRepetidas}}</td>
          <td>{{cantCartasTotal}}</td>
          <td>{{albumCompleto}}</td>
          <td>{{equipoCompleto}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-album></app-album>
>>>>>>> 8e72d8f93d18f5c498a7ee05a72da60e64e69501
