.row{
    margin-left: 0%;
    margin-right: 0%;
}

body, html {
    background-image: url('../../images/fondo2.jpg') !important;
}

.table{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

td{
    color: white;
}

button{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

h1{
    color: white;
}